@{
    ViewData["Title"] = "Home Page";
}

<section class="uncafezin-title">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</section>

<section class="container menu-index">
    <nav class="nav justify-content-between gap-1">
        <a class="bg-dark p-1 card align-items-center text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">
            <img width="150" height="150" class="img-fluid rounded" src="https://placehold.co/150" alt="" title="Categorias" />
            <p class="btn btn-lg btn-dark w-100 m-0 rounded-0">Categorias</p>
        </a>
        <a class="bg-dark p-1 card align-items-center text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">
            <img width="150" height="150" class="img-fluid rounded" src="https://placehold.co/150" alt="" title="Produtos" />
            <p class="btn btn-lg btn-dark w-100 m-0 rounded-0">Produtos</p>
        </a>
        <a class="bg-dark p-1 card align-items-center text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">
            <img width="150" height="150" class="img-fluid rounded" src="https://placehold.co/150" alt="" title="Clientes" />
            <p class="btn btn-lg btn-dark w-100 m-0 rounded-0">Clientes</p>
        </a>
        <a class="bg-dark p-1 card align-items-center text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">
            <img width="150" height="150" class="img-fluid rounded" src="https://placehold.co/150" alt="" title="Vendas" />
            <p class="btn btn-lg btn-dark w-100 m-0 rounded-0">Vendas</p>
        </a>
        <a class="bg-dark p-1 card align-items-center text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">
            <img width="150" height="150" class="img-fluid rounded" src="https://placehold.co/150" alt="" title="Relatórios" />
            <p class="btn btn-lg btn-dark w-100 m-0 rounded-0">Relatórios</p>
        </a>
        <a class="bg-dark p-1 card align-items-center text-decoration-none" asp-area="" asp-controller="Home" asp-action="Privacy">
            <img width="150" height="150" class="img-fluid rounded" src="https://placehold.co/150" alt="" title="Configurações" />
            <p class="btn btn-lg btn-dark w-100 m-0 rounded-0">Ajustes</p>
        </a>
    </nav>
</section>

<section class="item-large-hover">
    <img width="420" height="650" class="img-fluid rounded" src="https://placehold.co/420x650" alt="" title="Configurações" />
    <div class="card rounded-0">
        <p>Develop for </p>
        <p>Develop for </p>
    </div>
</section>
